<div class="my-component-body">
  <h1>
    Administration
  </h1>
  <mat-tab-group (selectedTabChange)="hide = true">
    <mat-tab label="Accounts">
      <div class="my-mat-tab-body">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let account of accounts" (closed)="hide = true">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ account.accountName | titlecase }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="my-mat-expansion-panel-body">
              <mat-form-field>
                <mat-label>Account name</mat-label>
                <input matInput [(ngModel)]="account.accountName">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Current password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <mat-label>New password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-flat-button class="my-button" color="primary" (click)="updateAccount(account)">Save Changes</button>
              <button mat-flat-button class="my-button" color="warn" (click)="deleteAccount(account)">Delete</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="FTPS Servers">
      <div class="my-mat-tab-body">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let server of ftpsServers">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ getAccountName(server.account) | titlecase }}: {{ server.host }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="my-mat-expansion-panel-body">
              <mat-form-field>
                <mat-label>Account</mat-label>
                <input matInput disabled="true" value="{{ getAccountName(server.account) }}">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Host</mat-label>
                <input matInput [(ngModel)]="server.host">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Port</mat-label>
                <input matInput [(ngModel)]="server.port">
              </mat-form-field>
              <mat-form-field>
                <mat-label>User</mat-label>
                <input matInput [(ngModel)]="server.user">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="server.password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Certificate path</mat-label>
                <input matInput [(ngModel)]="server.certificate_path">
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-flat-button class="my-button" color="primary" (click)="updateFtpsServer(server)">Save Changes</button>
              <button mat-flat-button class="my-button" color="warn" (click)="deleteFtpsServer(server)">Delete</button>
            </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>